<a href="https://colab.research.google.com/github/Byeon-MJ/TIL/blob/main/Numpy_Note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Numpy
반복되는 타입을 가진 나열된 데이터 (배열) => Numpy

In [ ]:
import numpy as np

# 1. 배열

## np.array
* 리스트 : 컴퓨터가 리스트를 싫어하는 이유
1. 길이가 가변적임 -> 메모리 문제
2. 들어가는 타입이 지멋대로임 -> int, str?
* 배열 (Array)
1. 길이가 고정적임 (원소의 갯수를 바꿀 수가 없음)
2. 타입이 고정적임 (모든 원소의 타입이 같은 자료형이여함)
-> 메모리 문제 (자리? 타입?)
=> 적은 메모리로 많은 데이터를 빠르게 처리할 수 있음
```
Numpy 의 데이터를 추가하거나 삭제하는 것은 추천하지 않음...
굳이 해야한다면 새로 만들어서 쌓는것을 활용
메모리 활용 구조 상...중간에 데이터가 들어가면 연산이 느리다
```

In [ ]:
arr = np.array([i for i in range(10)])
arr

In [ ]:
arr = np.array([1, 2, 3, 4], dtype = int)
arr

## np.ndarray
* 배열 객체 타입(자료형)
* 리스트와 동일해 보이지만 차이가 많음

In [ ]:
type(arr)

## ndarray.shape
* 객체의 행, 열 정보를 반환(m행, n열)

In [ ]:
# 1차원 배열
a = np.array([i*10 for i in range(1, 9)])

# 2차원 배열
m = np.array([[0, 1, 2], 
              [3, 4, 5]])   

# 3차원 배열
t = np.array([[[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 10, 11, 12]],
              
              [[13, 14, 15, 16],
               [15, 16, 17, 18],
               [19, 20, 21, 22]]])

In [ ]:
print(a.shape) # 1차원 배열
print(m.shape) # 2차원 배열
print(t.shape) # 3차원 배열

## ndarray.size

In [ ]:
print(a.size) # 1차원 배열
print(m.size) # 2차원 배열
print(t.size) # 3차원 배열

## ndarray.dtype
* 객체의 크기를 반환(m x n)

In [ ]:
print(a.dtype) # 1차원 배열
print(m.dtype) # 2차원 배열
print(t.dtype) # 3차원 배열

## ndarray.ndim
* 객체(배열)의 차원을 반환

In [ ]:
print(a.ndim) # 1차원 배열
print(m.ndim) # 2차원 배열
print(t.ndim) # 3차원 배열

## ndarray.view(), ndarray.copy()
* view : 얕은 복사(shallow Copy)
* copy : 깊은 복사(Deep Copy)

### Shallow Copy

In [ ]:
arr = np.array([1, 2, 3, 4])
arr

In [ ]:
# arr2 = arr
arr2 = arr.view()
arr2

In [ ]:
arr[0] = 10
arr2

### Deep Copy

In [ ]:
arr3 = arr.copy() # 속성은 () X, 메소드(함수) () O
arr3

In [ ]:
arr[0] = 100
arr3

## Indexing & Slicing
* 리스트의 인덱싱과 같음

In [ ]:
a = np.array([i for i in range(5)])
a[2], a[-1]

### ndimension array indexing
* 콤마(comma, ',') 접근
* 콤마로 구분된 차원을 축(axis)이라고 함
* 그래프의 x축, y축

In [ ]:
b = np.array([0, 1, 2, 3, 4, 5]).reshape(2, 3)
b

In [ ]:
b[0, 2]

In [ ]:
a = np.array([i for i in range(8)]).reshape(2, 4)
a

In [ ]:
a[0, :]

### Fancy indexing for Boolean array
- 인덱스 배열의 원소가 True, False 두 값으로만 구성되며 인덱스 배열의 크기가 원래 ndarray 객체의 크기와 같을 때
- 벡터화 연산 -> 비교, 논리연산

In [ ]:
a = np.array([i for i in range(10)])
a

In [ ]:
a[a % 2 == 0]

### Fancy indexing for Integer array
- 특정 정수들의 인덱스 배열을 넣으면, 해당 정수에 대응하는 값을 찾아서 표현해줌
- 2-dim 으로 입력하면 해당 좌표 인덱스의 값을 출력

In [ ]:
a = np.array([i for i in range(10)]) * 11
a

In [ ]:
idx = np.array([0, 2, 4, 6, 8])
a[idx]

In [ ]:
idx2 = np.array([0, 0, 0, 1, 1, 2, 2, 2, 3, 3, 3])
a[idx2]

In [ ]:
np_matrix = np.array([[1, 2, 3, 4],
                      [5, 6, 7, 8],
                      [9, 10, 11, 12]], dtype = 'int')
np_matrix

In [ ]:
np_matrix[[1, 2, 1], 
          [0, 2, 3]] # (1,0), (2, 2), (1, 3) 선택

## np.where

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 4, 4])

In [ ]:
x = np.where(arr == 4)  # np.where(condition) -> 조건을 만족시키는 인덱스 리턴
x

# 2. 배열의 연산

## 벡터화 연산

In [ ]:
x = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
x

In [ ]:
x / 2, x + 2, x ^ 2, x % 2, x ** 2

In [ ]:
a = np.array([1, 2, 3])
b = np.array([10, 20, 30]) # alt + shift + 위아래방향키 -> 복사
a, b

## 산술 연산
* 벡터화 연산은 사칙연산 뿐만 아니라 비교 연산과 논리 연산을 포함한 모든 종류의 수학 연산에 대해 적용

In [ ]:
2 * a + b

## 비교 연산

In [ ]:
a == 2, b > 10

## 논리 연산

In [ ]:
(a == 2) & (b > 10) # & : and 연산자 -> (같은 위치의 원소가) 둘 다 True인 경우

In [ ]:
(a == 2) | (b > 10) # | : or 연산자 => (같은 위치의) 원소 중 하나가 True인 경우

## Inf & NaN
* 무한대를 표현하기 위한 'np.inf'(infinity)라는 값이 있음
* 정의할 수 없는 숫자 : 'np.nan'(not a number)

In [ ]:
x = np.inf
y = np.nan

In [ ]:
x, y

In [ ]:
np.isnan(x), np.isnan(y)

In [ ]:
print(np.array([0, 1, -1, 0]) / np.array([1, 0, 0, 0]))

In [ ]:
np.log(0)

## np.dot
* 행렬의 곱연산

In [ ]:
np_matrix_1 = np.array([[1, 2, 3, 4],
                      [5, 6, 7, 8],
                      [9, 10, 11, 12]], dtype = 'int')
np_matrix_1 # 3 X 4

np_matrix_2 = np.arange(13, 25, dtype = 'int').reshape(3,4) # 3 X 4

In [ ]:
np.dot(np_matrix_1, np_matrix_2.T)

## np.all
* 배열의 모든 원소가 같은지 알고 싶다 np.all(조건식)

In [ ]:
a = np.array([1, 2, 3, 4])
b = np.array([4, 2, 2, 4])
c = np.array([1, 2, 3, 4])
a, b, c

In [ ]:
np.all(a == b)

In [ ]:
np.all(a == c)

## np.any
* 배열의 원소 중 하나라도 이 조건을 만족시키는가? np.any(조건식)

In [ ]:
np.any(a == b)

## np.exp
* 지수 연산

In [ ]:
np.exp(a)

## np.log
* 로그 연산

In [ ]:
np.log(a + 1)

## 브로드캐스팅
* 벡터(또는 행렬)끼리 덧셈과 뺄셈... -> 두 벡터(또는 행령) 간의 크기가 일치
* Numpy에선 서로 다른 크기를 가진 두 배열의 사칙 연산을 지원 = 브로드캐스팅(broadcasting)
> 크기가 작은 배열을 자동으로 반복 확장하여 크기가 큰 배열에 맞춤

<br>
$$
x = \begin{bmatrix}0\\1\\2\\3\\4\end{bmatrix},\quad 
x + 1 = \begin{bmatrix}0\\1\\2\\3\\4\end{bmatrix} + 1 = ?
$$
<br>
$$
\begin{bmatrix}0\\1\\2\\3\\4\end{bmatrix} + 1
= \begin{bmatrix}0\\1\\2\\3\\4\end{bmatrix}
+ \begin{bmatrix}1\\1\\1\\1\\1\end{bmatrix}
= \begin{bmatrix}1\\2\\3\\4\\5\end{bmatrix}
$$

In [ ]:
x = np.arange(5)
y = np.ones_like(x)
x + y

In [ ]:
x + 1

In [ ]:
x = np.vstack([range(7)[i:i+3] for i in range(5)])
x, x.shape

In [ ]:
y = np.arange(5)[:, np.newaxis]
y, y.shape

In [ ]:
x + y

In [ ]:
y = np.arange(3)
y, y.shape

In [ ]:
x + y

# 3. 배열의 생성
* 데이터 타입을 정해주고싶다면 `dtyp`을 사용
* `dtype` 인수
    * dtype 접두사로 시작하는 문자열
    * 접두사 뒤 오는 숫자 = 바이트 수 혹은 글자 수
    * 숫자 생략 시 운영체제에 따라 알맞은 크기 지정

|dtype 접두사|설명|사용 예|
|-|-|-|
|`b`|불리언|`b` (참 혹은 거짓)|
|`i`|정수|`i8` (64비트)|
|`u`|부호 없는 정수|`u8` (64비트)|
|`f`|부동소수점|`f8` (64비트)|
|`c`|복소 부동소수점|`c16` (128비트)|
|`O`|객체|`0` (객체에 대한 포인터)|
|`S`|바이트 문자열|`S24` (24 글자)|
|`U`|유니코드 문자열|`U24` (24 유니코드 글자)|

## np.array()

In [ ]:
arr = np.array([[1, 2, 3, 4],
                [5, 6, 7, 8],
                [9, 10, 11, 12]], dtype = np.int64)

## np.arange()
* 특정 규칙에 따라 증가하는 배열

In [ ]:
np.arange(3, 21, 2)

## np.zeroes()
* 1로 초기화된 배열을 생성

In [ ]:
np.zeros(9)

## np.zeroes_like()

In [ ]:
np.zeros_like(arr)

## np.ones()
* 1로 초기화된 배열을 생성

In [ ]:
np.ones(9)

## np.ones_like

In [ ]:
np.ones_like(arr)

## np.identity()

In [ ]:
np.identity(4)

## np.diag()

In [ ]:
np.diag([1, 2, 3, 4])

## np.eye()

In [ ]:
np.eye(N = 3, M = 5, k = 0)

In [ ]:
np.eye(N = 3, M = 5, k = 1)

## np.empty()

In [ ]:
np.empty((5, 5))

## np.linspace()
* 선형구간을 지정한 구간의 수만큼 분할

In [ ]:
np.linspace(1,100,33)

## np.logspace()
* 로그 구간을 지정한 수만큼 분할

In [ ]:
np.logspace(0.1, 1, 10)

# 4. 배열의 변형

## ndarray.reshape()

In [ ]:
arr = np.arange(1, 7)
print(arr)
print(arr.shape)

In [ ]:
arr = arr.reshape(2, 3)
print(arr)
print(arr.shape)

## ndarray.T
* 전치 연산(transpose) : 다차원 배열에서 행과 열을 바꾸는 작업

In [ ]:
arr.T

## ndarray.flatten()
* 다차원 배열을 1차원으로 변환
* 리턴값이 메모리를 복사하여 다른 공간에 저장
* 복사본을 생성 -> copy() 개념

In [ ]:
arr

In [ ]:
arr.flatten()

In [ ]:
arr

## np.ravel(ndarray, order='C, F, A, K')
* order : 'C', 'K', 'A', 'F'
* 리턴값이 같은 메모리를 공유
* 복사본을 생성 X -> view() 개념

flatten( )은 데이터의 copy를 생성하기 때문에, ravel( ) 보다 느리고, 더 많은 메모리를 필요로 한다. 

그러나 원본 데이터가 의도치 않게 변경되지 않도록 보호한다. 

Task에 따라 적절히 골라 사용할 것.

In [ ]:
arr

In [ ]:
np.ravel(arr)

In [ ]:
arr

# 5. 배열의 연결

## np.concatenate

In [ ]:
arr1 = np.arange(1, 4)
arr2 = np.arange(4, 7)
arr1, arr2

In [ ]:
# 1차원 배열 연결
arr = np.concatenate([arr1, arr2])
arr

In [ ]:
# 2차원 배열
arr1 = np.arange(1, 5).reshape(2, 2)
arr2 = np.arange(5, 9).reshape(2, 2)
arr1, arr2

In [ ]:
# 행 기준
arr = np.concatenate([arr1, arr2], axis = 0) # default : axsi = 0
arr

In [ ]:
# 열 기준
arr = np.concatenate([arr1, arr2], axis = 1)
arr

## np.hstack
* 행의 수가 같은 두 개 이상의 배열을 **옆**으로 연결하여 열의 수가 늘어난 배열을 만듦

In [ ]:
h1 = np.ones((2, 3))    # 2 x 3
h2 = np.zeros((2, 2))   # 2 x 2
h1, h2

In [ ]:
np.hstack([h1, h2])

## np.vstack
* 열의 수가 같은 두 개 이상의 배열을 **위아래**로 연결하여 행의 수가 늘어난 배열을 만듦

In [ ]:
v1 = np.ones((2, 3))
v2 = np.zeros((3, 3))
v1, v2

In [ ]:
np.vstack([v1, v2])

## np.dstack
* 제3의 축 즉, 행이나 열이 아니라 깊이(depth) 방향으로 배열을 합침
* 가장 안쪽의 원소의 차원이 증가, 즉 가장 내부의 숫자 원소가 배열

In [ ]:
d1 = np.ones((3, 4))
d2 = np.zeros((3, 4))
d1, d2

In [ ]:
d1.shape, d2.shape

In [ ]:
np.dstack([d1, d2])

In [ ]:
np.dstack([d1, d2]).shape

## np.stack
* 지정한 차원(축)으로 배열을 연결
* axis 인수(디폴트 0)를 사용하여 연결후의 회전 방향을 정함

In [ ]:
s = np.stack([d1, d2])  # axis = 0
s, s.shape

In [ ]:
s = np.stack([d1, d2], axis = 1)  # axis = 0
s, s.shape

In [ ]:
s = np.stack([d1, d2], axis = 2)  # axis = 0
s, s.shape

## np.r_
* hstack 비슷하게 배열을 좌-우 연결
* 메소드 소괄호(parenthesis, ())를 사용하지 않고, 대괄호 (bracket, [])를 사용
* 특수 메소드 = 인덱서(indexer)

In [ ]:
a1 = np.arange(1, 4)
a1, a1.shape

In [ ]:
a2 = np.arange(4, 7)
a2, a2.shape

In [ ]:
a = np.r_[a1, a2]
a, a.shape

## np.c_
* 배열의 차원을 증가시킨 뒤 좌우로 연결

In [ ]:
a1 = np.arange(1, 4)
a1, a1.shape

In [ ]:
a2 = np.arange(4, 7)
a2, a2.shape

In [ ]:
a = np.c_[a1, a2]
a, a.shape

## np.tile
* 동일한 배열을 반복하여 연결

In [ ]:
a = np.arange(6).reshape(2, -1)
a

In [ ]:
np.tile(a, 2) # 반복할 배열, 반복할 횟수 (행로 2번)

In [ ]:
np.tile(a, (3, 2)) # 행으로 3번, 열로 2번

# 배열 분할

## np.array_split
* np.array_split(arr, n)
* np.hsplit(arr, n)
* np.vsplit(arr, n)
* np.dsplit(arr, n) -> 쪼개줄 방향, 수

In [ ]:
arr = np.arange(1, 13).reshape(-1, 3)
arr

In [ ]:
np.array_split(arr, 4)

In [ ]:
np.array_split(arr, 3, axis=1)

# 차원 확장

## np.newaxis
* 같은 배열에 대해 차원만 1차원 증가(newaxis)

In [ ]:
x = np.arange(5)
x

In [ ]:
y =x[:, np.newaxis]
y, y.shape

## np.expand_dims

In [ ]:
a = np.arange(12).reshape(3,4)
print(a)
print(a.shape)

In [ ]:
a1 = np.expand_dims(a, axis = 1)
print(a1)
print(a1.shape)

In [ ]:
a2 = np.expand_dims(a, axis = -1)
print(a2)
print(a2.shape)

In [ ]:
a3 = np.expand_dims(a, axis = 0)
print(a3)
print(a3.shape)

In [ ]:
# 차원 확장 연습
a = np.arange(6).reshape(2,3)

a1 = np.expand_dims(a, axis=0)
print(a1)
print(a1.shape)

a2 = np.expand_dims(a, axis=1)
print(a2)
print(a2.shape)

a3 = np.expand_dims(a, axis=2)   # axis = -1
print(a3)
print(a3.shape)

# 차원 축소

## np.squeeze

In [ ]:
a = np.arange(12).reshape((1, 3, 4))
print(a)
print(a.shape)

a = np.squeeze(a)
print(a)
print(a.shape)

In [ ]:
# default : 필요없는 1이 있는 차원을 다 없앤다.
a = np.arange(12).reshape((1, 3, 1, 4))
print(a)
print(a.shape)

a = np.squeeze(a)
print(a)
print(a.shape)

In [ ]:
# 축 지정으로 차원 축소
a = np.arange(12).reshape((1, 3, 1, 4))
a = np.squeeze(a, axis=0)
print(a.shape)

# 통계값

## sum
* 합치면 축 하나가 사라진다. 
* axis 에는 없애고자 하는 축 번호를 넣는다고 생각하면 쉽다.

In [ ]:
a = np.arange(1, 5)
print(a)

s = np.sum(a, axis=0)
print(s)
print(s.shape)

In [ ]:
np.sum(a), a.sum()  # arr.sum()

## min, max

In [ ]:
x = np.array([1, 3, 2])
x

In [ ]:
x.min(), x.max()

In [ ]:
np.min(x), np.max(x)

## argmin, argmax

In [ ]:
# 최소값의 인덱스
x.argmin()

In [ ]:
# 최대값의 인덱스
x.argmax()

## mean
* 표본 평균
* 통계용어로는 표본 평균(sample average, sample mean)
<br>
$
\bar{x} = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{x_i}
$
(𝑁은 데이터의 개수)

In [ ]:
x = np.array([1, 2, 3, 1])

In [ ]:
# x.mean()
np.mean(x)

## median
* 중앙값(median) : 데이터를 크기대로 정렬하였을 때 가장 가운데에 있는 수
* 만약 데이터의 수가 짝수이면 가장 가운데에 있는 두 수의 평균을 사용

In [ ]:
np.median(x)

## var
* 표본 분산(sample variance) : 데이터와 표본 평균간의 거리의 제곱의 평균
* 표본 분산이 작으면 데이터가 모여있는 것이고 크면 흩어져 있는 것
<br>
$
s^2 = \frac{1}{N}\displaystyle\sum_{i=1}^{N}{(x_i-\bar{x})^2}
$

In [ ]:
np.var(x)

## std
* 표본 표준편차(sample standard variance) : 표본 분산의 양의 제곱근 값 
<br>
$
s = \sqrt{s^2}
$

In [ ]:
np.std(x)

## percentile
* 사분위수(quartile) : 데이터를 가장 작은 수부터 가장 큰 수까지 크기가 커지는 순서대로 정렬하였을 때 1/4, 2/4, 3/4 위치에 있는 수
* 각각 1사분위수, 2사분위수, 3사분위수라고 함
* 1/4의 위치란 전체 데이터의 수가 만약 100개이면 25번째 순서, 즉 하위 25%
* 따라서 2사분위수는 중앙값과 같음
* 때로는 위치를 1/100 단위로 나눈 백분위수(percentile)을 사용하기도 함
* 1사분위수는 25% 백분위수와 같음

In [ ]:
np.percentile(x, 0)  # 최솟값

In [ ]:
np.percentile(x, 25)  # 1사분위 수 100 중 25 => 25/100 => 1/4

In [ ]:
np.percentile(x, 50)  # 2사분위 수 2/4

In [ ]:
np.percentile(x, 75)  # 3사분위 수

In [ ]:
np.percentile(x, 100)  # 최댓값

# 난수 생성
* 난수? 임의의 수? 무작위 수?
* 컴퓨터 프로그램에서 발생하는 무작위의 수는 실은 엄격한 의미의 무작위 수가 아님
* 어떠한 특정한 시작 숫자를 정해주면 컴퓨터가 정해진 알고리즘에 이해 마치 난수처럼 보이는 수열을 생성 -> 이런 시작 숫자를 시드(seed)라고 함

## seed
* 시드 설정
* 일단 생성된 나수는 다음번 난수 생성을 위한 시드값이 됨.
* 시드값은 한 번만 정해주면 됨.
* 시드 -> 현재 시각 등 -> 자동으로 정해짐. 사람이 수동으로 설정.
* 수동으로 설정 -> 그 다음에 만들어진 난수는 모두 예측가능한 값.
* 고정된 결과를 얻기 위해서는 실습 때 **시드**를 설정

In [ ]:
np.random.seed(0)   # 시드값 고정

## rand
* 0과 1 사이의 실수의 난수를 발생

`np.random.rand(n)` : 생성할 난수의 수 <br>
`np.random.rand(m, n)` : 배열 모양으로 생성

In [ ]:
np.random.rand(5)

In [ ]:
np.random.rand(3, 5)

## randn
* 표준 정규 분포를 따르는 난수 발생

In [ ]:
np.random.randn(10)

In [ ]:
import pandas as pd
df = pd.DataFrame(np.random.randn(1000))
df.hist()

## randint
* 임의의 범위의 정수 숫자들을 리턴
* low~high값까지의 범위에 임의 정수를 반환

* high를 입력하지 않으면 0~low
* size를 입력하지 않으면 1만. size 입력하면 그만큼

In [ ]:
np.random.randint(10, 20, size=10)

## shuffle
* 데이터의 순서를 변경
* 자체 변환 함수(in-place) 함수 -> 원본에 영향

In [ ]:
x = np.arange(10)
x

In [ ]:
np.random.shuffle(x)
x

## choice
- 데이터 샘플링에 사용
- a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
- size : 정수. 샘플 숫자
- replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능 (복원/비복원 추출)
- p : 배열. 각 데이터가 선택될 수 있는 확률
```
np.random.choice(a, size=None, replace=True, p=None)
```

In [ ]:
# np.random.choice(추출 대상이 될 배열, 추출할 사이즈, 복원 여부, 개별 확률)
np.random.choice(5, 5, replace=False)
np.random.choice(5, 3, replace=False)   # 비복원 추출 : 자리뽑기, 경품뽑기

In [ ]:
np.random.choice(5, 5, replace=True)    # 복원 추출 : 동전던지기, 주사위던지기

In [ ]:
# arange(5) = [0, 1, 2, 3, 4] => 10
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

# 데이터 카운팅
* 만약 난수가 정수값이면 unique 명령이나 bincount 명령으로 데이터의 빈도가 값을 분석

## unique
* unique 함수는 데이터에서 중복된 값을 제거하고 중복되지 않은 값의 리스트 출력 (set?)
* return_counts 인수를 True로 설정하면 각 값을 가진 데이터 갯수도 출력

In [ ]:
np.unique([11, 11, 2, 2, 34, 34])

In [ ]:
a = np.array(['a', 'b', 'b', 'c', 'a'])
# np.unique(a, return_counts=True)
index, count = np.unique(a, return_counts=True)

In [ ]:
list(zip(index, count))

## bincount
* `unique` 함수는 데이터에 존재하는 값에 대해서만 갯수를 세므로 데이터 값이 나올 수 있음에도 불구하고 데이터가 하나도 없는 경우에는 정보를 주지 않음
* 따라서 데이터가 주사위를 던졌을 때 나오는 수처럼 특정 범위안의 수인 경우에는 `bincount` 함수에 `minlength` 인수를 설정하여 쓰는 것이 더 편리
* `bincount` 함수는 0 부터 `minlength` - 1 까지의 숫자에 대해 각각 카운트
* 데이터가 없을 경우에는 카운트 값이 0이 됨

In [ ]:
r = np.random.randint(6, size = 10) # 0~5
r

In [ ]:
np.unique(r, return_counts=True)

In [ ]:
np.bincount(r, minlength=6)

## 정렬

## sort
* `sort` : 배열 안의 원소를 크기에 따라 정렬하여 새로운 배열 생성
* 2차원 이상인 경우 -> 행이나 열을 따로따로 정렬
    * axis=0 : 각각의 행을 따로따로 정렬
    * axis=1 : 각각의 열을 따로따로 정렬
    * axis=-1 : 가장 안쪽(나중)의 차원

In [ ]:
a = np.array(
    [[4, 3, 5, 7],
    [1, 12, 11, 9],
    [2, 15, 1, 14]]
)
a

In [ ]:
np.sort(a)

In [ ]:
a = np.array([
    [4, 3, 5, 7],
    [1, 12, 11, 9],
    [2, 15, 1, 14]
])
a

In [ ]:
np.sort(a, axis=0)

In [ ]:
np.sort(a, axis=1)

In [ ]:
np.sort(a, axis=-1)

In [ ]:
np.sort(a) # axis=-1, axis=1 -> 2차원 배열, 행렬

In [ ]:
a # np.sort 는 원본에 영향 X, 깊은 복사

In [ ]:
b = a.copy()
b

In [ ]:
b.sort()    # arr.sort()를 사용할 경우, 해당 arr의 상태가 변화
            # -> 자체변화 메소드(in-place) = 원본이 수정
b

In [ ]:
b.sort(axis = 1)
b

## argsort
* 자료 정렬이 아니라 index 순서만 알고싶다

In [ ]:
a = np.array([42, 38, 12, 25])
j = np.argsort(a) # 오름차순
j
# 오름차순 : 작은 -> 큰 값으로 (데이터가 전개된 방향 일치하게 커진다, asc)
# 내림차순 : 큰 -> 작은 (데이터가 전개되는 방향으로 작아진다 = 가장 큰 값이 맨 앞에 있다, desc)